{% extends "base.html" %} 
{% load static %}
{% load bag_tools %}

{% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %} 

{% block content %}

<div class="content-container">
  <div class="container mb-2">
    <div class="row">
      <div class="col">
        <br />
        <h2 class="logo-heading">shopping bag</h2>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% if bag_items %}
        <div class="table-responsive rounded">
          <table class="table table-sm table-borderless text-white">
            <thead>
              <tr>
                <th scope="col" class="logo-heading">product info</th>
                <th scope="col"></th>
                <th scope="col" class="logo-heading">price</th>
                <th scope="col" class="logo-heading">qty</th>
                <th scope="col" class="logo-heading">subtotal</th>
              </tr>
            </thead>

            {% for item in bag_items %} 
            <tr>
              <!-- Product Image -->
              <td class="p-3 w-25">
                {% if item.merch and item.merch.image %}
                <img
                  class="img-fluid rounded"
                  src="{{ item.merch.image.url }}"
                  alt="{{ item.merch.name }}"
                />
                {% elif item.tour_dates and item.tour_dates.image %}
                <img
                  class="img-fluid rounded"
                  src="{{ item.tour_dates.image.url }}"
                  alt="{{ item.tour_dates.venue }}"
                />
                {% else %}
                <img
                  class="img-fluid rounded"
                  src="{% static 'media/no-image.jpg' %}"
                />
                {% endif %}
              </td>

              <!-- Product Info -->
              <td class="py-3">
                {% if item.merch %}
                <p class="my-0"><strong>{{ item.merch.name }}</strong></p>
                <p class="my-0">
                  <strong>Size: </strong>{% if item.merch.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                </p>
                <p class="my-0 small">SKU: {{ item.merch.sku|upper }}</p>
                {% elif item.tour_dates %}
                <p class="my-0">
                  <strong>{{ item.tour_dates.venue }}, {{ item.tour_dates.location }}</strong>
                </p>
                <p class="my-0 small">Date: {{ item.tour_dates.date }}</p>
                {% endif %}
              </td>

              <!-- Product Price -->
              <td class="py-3">
                {% if item.merch %}
                <p class="my-0">£{{ item.merch.price }}</p>
                {% elif item.tour_dates %}
                <p class="my-0">£{{ item.tour_dates.price }}</p>
                {% endif %}
              </td>

              <!-- Quantity / Update Form -->
              <td class="py-3 w-25">
                <form class="form update-form" method="POST" action="{% url 'bag:adjust_bag' item.item_type item.item_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-minus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control form-control-sm qty_input" type="number"
                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                data-item_id="{{ item.item_id }}"
                                id="id_qty_{{ item.item_id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-sm btn-black rounded-0"
                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-plus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            {% if item.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                            {% endif %}
                        </div>
                    </div>
                </form>
                <a class="update-link text-info"><small>Update</small></a>
                <a class="remove-item text-danger float-right"  data-item_type="{{ item.item_type }}"
                    data-item_id="{{ item.item_id }}" data-merch_size="{{ item.size }}">
                <small>Remove</small></a>
            </td>
            <!-- Subtotal -->
            <td class="py-3">
                <p class="my-0">£{{ item.price | calc_subtotal:item.quantity }}</p>
            </td>
        </tr>
    {% endfor %}

              <td class="py-3">
                {% if item.merch %}
                <p class="my-0">
                  £{{ item.merch.price|floatformat:2|add:"0"|floatformat:2 }}
                </p>
                {% elif item.tour_dates %}
                <p class="my-0">
                  £{{ item.tour_dates.price|floatformat:2|add:"0"|floatformat:2}}
                </p>
                {% endif %}
              </td>
            </tr>

        <!-- Products Total -->
            <tr>
              <td colspan="5" class="pt-5 text-right">
                <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4">
                  <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong>
                </h4>
              </td>
            </tr>

            <!-- Navigation Buttons -->
            <tr>
              <td colspan="5" class="text-right">
                <a
                  href="{% url 'merch' %}"
                  class="btn shop-now-button rounded-0 mt-5"
                >
                  <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                  </span>
                  <span>keep shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn shop-now-button rounded-0 mt-5">
                  <span>secure checkout</span>
                  <span class="icon">
                    <i class="fas fa-lock"></i>
                  </span>
                </a>
              </td>
            </tr>
          </table>
        </div>
        {% else %}
        <p class="lead mb-5">your bag is empty.</p>
        <a
          href="{% url 'merch' %}"
          class="shop-now-button btn btn-lg rounded-0 py-3 logo-heading mt-4"
        >
          <span class="icon">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span>keep shopping</span>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block postloadjs %} 
{{ block.super }} 
{% include 'merch/includes/quantity_input_script.html' %}
<script type="text/javascript">
  // Update quantity on click
  $(".update-link").click(function (e) {
    var form = $(this).prev(".update-form");
    form.submit();
  });

  // Remove item and reload on click
  $(".remove-item").click(function (e) {
    e.preventDefault();
    var csrfToken = "{{ csrf_token }}";
    var itemType = $(this).data("item_type");
    var itemId = $(this).data("item_id");
    var size = $(this).data("merch_size");
    var url = `/bag/remove/${itemType}/${itemId}/`;
    var data = { csrfmiddlewaretoken: csrfToken };
    if (size) { data['merch_size'] = size; }

    $.post(url, data).done(function () {
        location.reload();
    });
});

</script>

{% endblock %}
