{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-3">
        <h2 class="logo-heading">news</h2>
        <br />
      </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            {% for news in news %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="news-item p-2">
                    <a href="{% url 'post_detail' news.id %}">
                        {% if news.image %}
                            <img class="img-fluid rounded" src="{{ news.image.url }}" alt="{{ news.title }}">
                        {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ news.title }}">
                        {% endif %}
                    </a>
                    <div class="pt-2">
                        <p class="mb-1">{{ news.title }}</p>
                        <p class="mb-1">{{ news.excerpt }}</p>
                        <a href="{% url 'post_detail' news.id %}">Read More →</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
