{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <!-- You can add a header here if needed -->
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-column align-items-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-4 text-center my-5">
                <div class="image-container">
                    {% if news.image %}
                        <a href="{{ news.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid mx-auto" src="{{ news.image.url }}" alt="{{ news.title }}">
                        </a>
                    {% else %}
                        <a href="#">
                            <img class="card-img-top img-fluid mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ news.title }}">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="product-details-container mb-5 mt-3">
                    <p class="lead mb-1">{{ news.title }}</p>
                    <p class="mb-3 font-weight-bold">{{ news.author }} | {{ news.date }}</p>
                    <p>{{ news.subtitle }}</p>
                    <p class="mt-3">{{ news.post }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
