<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-text font-weight-bold nav-link mr-5" href="{% url 'info' %}" id="info-link" aria-haspopup="true" aria-expanded="false">
                info
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-text logo-font font-weight-bold nav-link mr-5" href="{% url 'news' %}" id="news-link" aria-haspopup="true" aria-expanded="false">
                news
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-text logo-font font-weight-bold nav-link mr-5" href="{% url 'tour_dates' %}" id="tour-link" aria-haspopup="true" aria-expanded="false">
                tour dates
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-text logo-font font-weight-bold nav-link mr-5" href="{% url 'merch' %}" id="merch-link" aria-haspopup="true" aria-expanded="false">
                merch
            </a>
        </li>
    </ul>
</div>