{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-heading">404</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <br>
                    <p>Something went wrong.</p>
                    <br>
                    <a class="btn shop-now-button rounded-0" href="{% url 'home' %}">Home</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}