{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-heading">tour dates</h2>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for tour_dates in tour_dates %}
                        <div class="col-12">
                            <div class="h-100 border-0">
                                <div class="pb-0">
                                    <p class="mb-0">{{ tour_dates.date }} | {{ tour_dates.venue }}, {{ tour_dates.location }}</p>
                                    <p class="mb-0 text-left">with support from {{ tour_dates.support_act }}</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}